body {
  background-image: url('../img/fondo-alt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: contain;
  position: relative;
}

.section {
  margin-top: 5em;
}

nav {
  float: right;
}
nav .nav-item .nav-link {
  color: #2f1a45 !important;
}
nav .nav-item.active .nav-link {
  color: #553278 !important;
}
.logo {
  display: block;
  width: 20%;
  margin-left: 5em;
  margin-top: 2em;
  /* padding-top: 30%; */
}

.main-logo {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding-top: 20%;
}

.fab {
  color: #553278;
}

.inline {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

h1.text-center {
  margin-top: 2em;
  margin-bottom: 2em;
}

.text-center, .text-justify {
  color: #553278;
}
.text-justify {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.15em;
}

.form-control {
  background-color: #f8f8f8;
}

#container-contactanos {
  margin-bottom: 25%;
}

@media screen and (min-width: 768px) {
  .main-logo {
    width: 50%;
    padding-top: 10%;
  }
}

@media screen and (min-width: 992px) {
  .main-logo {
    width: 40%;
    padding-top: 5%;
  }
}
